$bgColor: black;
$globalFontSize: 1em;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
    background-color: $bgColor;
}

textarea {
    font-size: $globalFontSize*2;
    resize: none;
    width: 100%; 
    height: $globalFontSize*3;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    background-color: aqua;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
    .div:nth-child(2){
        background-color: red;
    }
    .main{
        display: grid;
        grid-template-rows: 2fr 1fr;
        min-width: 300px;
        #main-display{
            background-color: blue;

            .character-game-object{
                color: white;
                display: block;
            }
        }
        .main-controls{
            
            background-color: black;
        }
    }
  
}